﻿.menuInput {
  background-color: desaturate(white, 30%);
  &:hover {
    background-color: white;
  }
}

.content {
  display: flex;
  flex-grow: 1;
}

.loginForm {
  width: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.errorText {
  color: red;
  font-style: italic;
}