﻿﻿.menuInput {
  background-color: desaturate(white, 30%);
  &:hover {
    background-color: white;
  }
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 1em;
}

.loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.errorText {
  color: red;
  font-style: italic;
  margin: 1em 1em !important;
}